<!DOCTYPE HTML>
<html lang="pt_br">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <title>Depoimentos - Feira da Jangadeiro</title>
</head>

<body>
  <header>
    <div class="header-wrap">
      <h1>Feira da Jangadeiro</h1>
      <audio autoplay loop>
        <source src="musics/music1.mp3" type="audio/mp3">
        Seu navegador não suporta a TAG audio.
      </audio>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/feirantes">Feirantes</a></li>
          <li><a href="/produtos">Produtos</a></li>
          <li><a href="/localizacao">Localização</a></li>
          <li><a href="/depoimentos">Depoimentos</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="conteudo-principal">
    <article id="image-principal">
      <img class="image-principal" src="./images/feira_header.svg" alt="imagem-principal" />
    </article>
    <article class="conteudo-principal">
      <h3>Depoimentos</h3>
      <div class="text">
        <p>Confira alguns depoimentos de nossos clientes!</p>
      </div>
    </article>
    <article class="main">
      <ul>
        <li>
          <article>
            <img class="imagem-foto" src="./images/c_Ana.png" alt="imagem-cliente-ana"></img>
            <h5>Ana Santos</h5>
            <p class="observation">
              A Feira da Jangadeiro é um verdadeiro achado! Lá encontro as melhores frutas e verduras, sempre
              fresquinhas. Os feirantes são gente de confiança, sempre dispostos a ajudar. Faço minhas compras com
              tranquilidade, sabendo que estou levando produtos de qualidade para minha casa.
            </p>
          </article>
        </li>
        <li>
          <article>
            <img class="imagem-foto" src="./images/marcelo.jpg" alt="imagem-cliente-marcelo"></img>
            <h5>Marcelo Bezerra</h5>
            <p class="observation">
              Não tem coisa melhor do que a Feira da Jangadeiro. É lá que encontro tudo o que preciso para uma
              alimentação saudável. As frutas são suculentas e as verduras, sempre verdinhas. Sem contar que os preços
              são
              justos, fazendo valer cada centavo. Recomendo para todos!
            </p>
          </article>
        </li>
        <li>
          <article>
            <img class="imagem-foto" src="./images/c_Lucio.png" alt="imagem-cliente-ana"></img>
            <h5>Lúcio Torres</h5>
            <p class="observation">
              Sou cliente fiel da Feira da Jangadeiro há mais de 20 anos. Os feirantes são como uma grande família
              para mim. Sempre encontro as melhores frutas e verduras fresquinhas. Eles conhecem meus gostos e sabem o
              que
              escolher para mim. É uma parceria que valorizo muito.
            </p>
          </article>
        </li>
        <li>
          <article>
            <img class="imagem-foto" src="./images/c_Valeria.png" alt="imagem-cliente-valeria"></img>
            <h5>Valeria Souza</h5>
            <p class="observation">
              A Feira da Jangadeiro é um lugar que eu confio de olhos fechados. Os feirantes são trabalhadores
              incansáveis, sempre dispostos a ajudar. Encontro frutas e verduras fresquinhas, diretamente do produtor, e
              os
              preços são acessíveis. Não abro mão de fazer minhas compras lá, é tradição na minha família!
            </p>
          </article>
        </li>
        <li>
          <article>
            <img class="imagem-foto" src="./images/c_Pedro.png" alt="imagem-cliente-pedro"></img>
            <h5>Pedro Albuquerque</h5>
            <p class="observation">
              A Feira da Jangadeiro é a alma do bairro Mucuripe. Os feirantes são pessoas trabalhadoras e dedicadas,
              que trazem produtos de qualidade diretamente do campo. A variedade de frutas e verduras é incrível, e os
              preços são justos. Sinto-me orgulhoso em fazer parte dessa comunidade e apoiar o comércio local.
            </p>
          </article>
        </li>
      </ul>
    </article>

  </section>

  <footer>
    <div class="wrapper">
      <section id="info-rodape">
        <p>Site criado por Rafael Nunes para a disciplina de Sistemas Multimídias - UNI7</p>
      </section>
    </div>
  </footer>
</body>

</html>