<!DOCTYPE HTML>
<html lang="pt_br">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <title>Feira da Jangadeiro</title>
</head>

<body>
  <header>
    <div class="header-wrap">
      <a href="/">
        <h1>Feira da Jangadeiro</h1>
      </a>
      <audio autoplay loop>
        <source src="musics/music1.mp3" type="audio/mp3">
        Seu navegador não suporta a TAG audio.
      </audio>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/feirantes">Feirantes</a></li>
          <li><a href="/produtos">Produtos</a></li>
          <li><a href="/localizacao">Localização</a></li>
          <li><a href="/depoimentos">Depoimentos</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="conteudo-principal">
    <article id="image-principal">
      <img class="image-principal" src="./images/feira_header.svg" alt="imagem-principal" />
    </article>

    <article class="conteudo-principal">
      <h3>Bem-vindo!</h3>
      <div class="text">
        <p>Nossa feira acontece todo dia de <strong>Quarta-Feira</strong>,
          <br /> <span style="margin-left: 3px"> </span> na Av. do Jangadeiro, próximo ao colégio Mathias Beckers -
          Mucuripe.
          <br /> Veja o <a href="/localizacao">mapa</a> para melhor localização, ou veja os <a href="/produtos">produtos
          </a>
          <br /> <span style="margin-left: 3px"> </span> ou <a href="/feirantes">feirantes </a>
          disponíveis na próxima feira.
        </p>
      </div>
    </article>
  </section>

  <footer>
    <div class="wrapper">
      <section id="info-rodape">
        <p>Site criado por Rafael Nunes para a disciplina de Sistemas Multimídias - UNI7</p>
      </section>
    </div>
  </footer>
</body>

</html>