<!DOCTYPE HTML>
<html lang="pt_br">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <title>Localização - Feira da Jangadeiro</title>
</head>

<body>
  <header>
    <div class="header-wrap">
      <a href="/">
        <h1>Feira da Jangadeiro</h1>
      </a>
      <audio autoplay loop>
        <source src="musics/music1.mp3" type="audio/mp3">
        Seu navegador não suporta a TAG audio.
      </audio>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/feirantes">Feirantes</a></li>
          <li><a href="/produtos">Produtos</a></li>
          <li><a href="/localizacao">Localização</a></li>
          <li><a href="/depoimentos">Depoimentos</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="conteudo-principal">
    <article id="image-principal">
      <img class="image-principal" src="./images/feira_header.svg" alt="imagem-principal" />
    </article>
    <article class="conteudo-principal">
      <h3>Localização</h3>
      <div class="text">
        <p>Nossa feira acontece todo dia de <strong>Quarta-Feira</strong>na Av. do Jangadeiro,
          <br /> próximo ao colégio Mathias Beckers - Mucuripe. veja o mapa, abaixo!
        </p>
      </div>
    </article>
    <iframe class="mapa" title="localização"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1990.6901465999524!2d-38.4807588!3d-3.7269889!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c747da28a098a1%3A0x7154c028e6658e2f!2sAv.%20Dos%20Jangadeiros%2C%201115%20-%20Mucuripe%2C%20Fortaleza%20-%20CE%2C%2060175-440!5e0!3m2!1sen!2sbr!4v1687066688768!5m2!1sen!2sbr"
      width="600" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>

  <footer>
    <div class="wrapper">
      <section id="info-rodape">
        <p>Site criado por Rafael Nunes para a disciplina de Sistemas Multimídias - UNI7</p>
      </section>
    </div>
  </footer>
</body>

</html>