<!DOCTYPE HTML>
<html lang="pt_br">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <title>Produtos - Feira da Jangadeiro</title>
</head>

<body>
  <header>
    <div class="header-wrap">
      <a href="/">
        <h1>Feira da Jangadeiro</h1>
      </a>
      <audio autoplay loop>
        <source src="musics/music1.mp3" type="audio/mp3">
        Seu navegador não suporta a TAG audio.
      </audio>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/feirantes">Feirantes</a></li>
          <li><a href="/produtos">Produtos</a></li>
          <li><a href="/localizacao">Localização</a></li>
          <li><a href="/depoimentos">Depoimentos</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="conteudo-principal">
    <article id="image-principal">
      <img class="image-principal" src="./images/feira_header.svg" alt="imagem-principal" />
    </article>
    <article class="conteudo-principal">
      <h3>Produtos</h3>
      <div class="text">
        <p class="margin-bottom"> Confira os produtos que temos disponíveis para a próxima feira*, abaixo!</p>
        <p class="observation"> *Observe que contamos com a colaboração dos nosso feirantes para atualizar a lista
          abaixo <br />
          Portanto estas informações podem não estar atualizadas <br />
          Recomendamos entrar em contato com os <a href="/feirantes">feirantes</a> antes da feira, caso deseje</p>
      </div>
    </article>
    <article class="main products">
      <ul>
        <li>
          <article>
            <h5> Abacaxi </h5>
            <ul class="items"> Feirantes disponíveis com esse produto:
              <li> Antonio Ferreira - Promoção 2 por R$ 5</li>
              <li> Francisca Lima - R$ 3.50 </li>
            </ul>
          </article>
        </li>
        <li>
          <article>
            <h5> Alface </h5>
            <ul class="items"> Feirantes disponíveis com esse produto:
              <li> Jose Pereira - R$ 5</li>
              <li> Francisca Lima - R$ 5.60, colheito no dia anterior! </li>
            </ul>
          </article>
        </li>
        <li>
          <article>
            <h5> Banana </h5>
            <ul class="items"> Feirantes disponíveis com esse produto:
              <li> Antonio Ferreira - R$ 5, o quilo</li>
              <li> Jose Pereira - R$ 5, o quilo </li>
            </ul>
          </article>
        </li>
        <li>
          <article>
            <h5> Cajú </h5>
            <ul class="items"> Feirantes disponíveis com esse produto:
              <li> Marcia Rodrigues - R$ 15, o quilo</li>
              <li> Francisca Lima - R$ 10, o quilo </li>
            </ul>
          </article>
        </li>
        <li>
          <article>
            <h5> Couve </h5>
            <ul class="items"> Feirantes disponíveis com esse produto:
              <li> Francisca Lima - R$ 3.40 </li>
            </ul>
          </article>
        </li>
        <li>
          <article>
            <h5> Jerimum </h5>
            <ul class="items"> Feirantes disponíveis com esse produto:
              <li> Jose Pereira - R$ 8.20 </li>
              <li> Antonio Ferreira - R$ 8.00 </li>
            </ul>
          </article>
        </li>
        <li>
          <article>
            <h5> Mamão </h5>
            <ul class="items"> Feirantes disponíveis com esse produto:
              <li> Marcia Rodrigues - R$ 10 o quilo </li>
              <li> Antonio Ferreira - R$ 18 o quilo </li>
            </ul>
          </article>
        </li>
      </ul>
    </article>
  </section>


  <footer>
    <div class="wrapper">
      <section id="info-rodape">
        <p>Site criado por Rafael Nunes para a disciplina de Sistemas Multimídias - UNI7</p>
      </section>
    </div>
  </footer>
</body>

</html>