<!DOCTYPE HTML>
<html lang="pt_br">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <title>Feirantes - Feira da Jangadeiro</title>
</head>

<body>
  <header>
    <div class="header-wrap">
      <a href="/">
        <h1>Feira da Jangadeiro</h1>
      </a>
      <audio autoplay loop>
        <source src="musics/music1.mp3" type="audio/mp3">
        Seu navegador não suporta a TAG audio.
      </audio>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/feirantes">Feirantes</a></li>
          <li><a href="/produtos">Produtos</a></li>
          <li><a href="/localizacao">Localização</a></li>
          <li><a href="/depoimentos">Depoimentos</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="conteudo-principal">
    <article id="image-principal">
      <img class="image-principal" src="./images/feira_header.svg" alt="imagem-principal" />
    </article>
    <article class="conteudo-principal">
      <h3>Feirantes</h3>
      <div class="text">
        <p class="margin-bottom"> Confira os feirantes que estarão na próxima feira*, abaixo!</p>
        <p class="observation"> *Observe que contamos com a colaboração dos nosso feirantes para atualizar a lista
          abaixo <br />
          Portanto estas informações podem não estar atualizadas <br />
          Recomendamos entrar em contato com os feirantes antes da feira, caso deseje</p>
      </div>
    </article>
    <article class="main">
      <ul class="feirantes">
        <li>
          <article>
            <img class="imagem-foto" src="./images/v_Antonio.png" alt="imagem-feirante-antonio"></img>
            <h5>Antonio Ferreira</h5>
            <p>Box 1</p>
            <a class="whatsapp" href="https://api.whatsapp.com/send?phone=5585987654321">Whatsapp</a>
          </article>
        </li>
        <li>
          <article>
            <img class="imagem-foto" src="./images/v_Francisca.png" alt="imagem-feirante-francisca"></img>
            <h5>Francisca Lima</h5>
            <p>Box 2</p>
            <a class="whatsapp" href="https://api.whatsapp.com/send?phone=5585912345678">Whatsapp</a>
          </article>
        </li>
        <li>
          <article>
            <img class="imagem-foto" src="./images/v_Jose.png" alt="imagem-feirante-jose"></img>
            <h5>Jose Pereira</h5>
            <p>Box 4</p>
            <a class="whatsapp" href="https://api.whatsapp.com/send?phone=55859876543210">Whatsapp</a>
          </article>
        </li>
        <li>
          <article>
            <img class="imagem-foto" src="./images/v_Marcia.png" alt="imagem-feirante-marcia"></img>
            <h5>Marcia Rodrigues</h5>
            <p>Box 5</p>
            <a class="whatsapp" href="https://api.whatsapp.com/send?phone=5585923456789">Whatsapp</a>
          </article>
        </li>
      </ul>
    </article>
  </section>

  <footer>
    <div class="wrapper">
      <section id="info-rodape">
        <p>Site criado por Rafael Nunes para a disciplina de Sistemas Multimídias - UNI7</p>
      </section>
    </div>
  </footer>
</body>

</html>